body{
    background-color: azure;
    border-radius: 25px;
}
.avatar{
    
    margin-top: -100px;
    margin-right: -100px;
}
#avatar-img{
    border-radius: 25px;
    border-style: solid;
    border-color: aliceblue;
}
#background-Profile{
    border-radius: 25px;
    height: max-content;
    width: 50%;
}
.mat-card{
    border-radius: 32px;
    border-color: blue;
    margin: 10px, 10px;
    padding: 20px;
}
#rounded-corners{
    border-radius: 25px;
  border: 2px solid #d3d3d3;
  padding: 20px;
}