body{
    background-color: azure;
}
.avatar{
    border-radius: 50%;
    margin-top: -100px;
    
}
.avatar-img{
    border-radius: 50%;
    border-style: solid;
    border-color: aliceblue;
    
    height: 200px;
    width: 200px;
}
#background-Profile{
    border-radius: 25px 25px 0 0;
    height: 50%;
    width: 100%;
}
#rounded-corners{
    border-radius: 25px;
  border: 1px solid #d3d3d3;
}
.background-div{
    background-color: #d3d3d3;
}
#margins{
    margin: 10px 10px 20px 10px;
}
.div-vertical-separator{
    margin: 0 0 10px 0;
}
.name {
    font-size: 1.7em;
    font-weight: 700;
}

/* progress bar */
.progress-bar {
    /* Colors */
    background-color: #e2e2e2;

    /* Rounded border */
    border-radius: 100px;
    padding: 5px;
    
}

.progress-bar__progress {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Colors */
    background-color: #4671ff;
    color: #fff;

    /* Rounded border */
    border-radius: 100px;
}